# Inspecting a DataFrame

## Inspecting a DataFrame

When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

* `.head()` returns the first few rows (the â€œheadâ€ of the DataFrame.
* `.info()` shows information on each of the columns, such as the data type and number of missing values.
* `.shape` returns the number of rows and columns of the DataFrame.
* `.describe()` calculates a few summary statistics for each column.

`homelessness` is a DataFrame containing estimates of homelessness in each U.S. state in 2018. The individual column is the number of homeless `individuals` not part of a family with children. The `family_members` column is the number of homeless individuals part of a family with children. The `state_pop` column is the state's total population.

`pandas` is imported for you.

<hr>

**Instructions**
* Print the head of the homelessness data
* Print information about homelessness
* Print the shape of homelessness
* Print a description of homelessness

In [3]:
import pandas as pd
homelessness_data_file= r'C:\Machinelearning\datacamp\Thangaraj_Datacamp-Data_Scientist_with_Python\Data_Manipulation_with_pandas\Datasets\homelessness.csv'
homelessness = pd.read_csv(homelessness_data_file)
## Script

# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

# Print a description of homelessness
print(homelessness.describe())

   Unnamed: 0              region       state  individuals  family_members  \
0           0  East South Central     Alabama         2570             864
1           1             Pacific      Alaska         1434             582
2           2            Mountain     Arizona         7259            2606
3           3  West South Central    Arkansas         2280             432
4           4             Pacific  California       109008           20964

   state_pop
0    4887681
1     735139
2    7158024
3    3009733
4   39461588
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 6 columns):
Unnamed: 0        34 non-null int64
region            34 non-null object
state             34 non-null object
individuals       34 non-null int64
family_members    34 non-null int64
state_pop         34 non-null int64
dtypes: int64(4), object(2)
memory usage: 1.7+ KB
None
(34, 6)
       Unnamed: 0    individuals  family_members     state_pop
count   34.000000      34.000000       34.000000  3.400000e+01
mean    16.500000    8287.058824     4242.147059  6.556360e+06
std      9.958246   19189.160845     9411.289453  7.611878e+06
min      0.000000     708.000000      328.000000  7.015470e+05
25%      8.250000    1719.500000      630.250000  1.967396e+06
50%     16.500000    3773.000000     1589.000000  4.560422e+06
75%     24.750000    6676.750000     3140.000000  7.089177e+06
max     33.000000  109008.000000    52070.000000  3.946159e+07

# Parts of a DataFrame

## Parts of a DataFrame

To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:
* `.values`: A two-dimensional NumPy array of values.
* `.columns`: An index of columns: the column names.
* `.index`: An index for the rows: either row numbers or row names.

You can usually think of indexes as being like a list of strings or numbers, though the pandas `Index` data type allows for more sophisticated options. (These will be covered later in the course.)

`homelessness` is available.

<hr>

**Instructions**
* Import `pandas` using the alias `pd`.
* Print a 2D NumPy array of the values in `homelessness`.
* Print the column names of `homelessness`.
* Print the index of `homelessness`.

In [4]:
## Script

# Import pandas using the alias pd
import pandas as pd
# Print the values of homelessness
print(homelessness.values)

# Print the column index of homelessness
print(homelessness.columns)

# Print the row index of homelessness
print(homelessness.index)

[[0 'East South Central' 'Alabama' 2570 864 4887681]
 [1 'Pacific' 'Alaska' 1434 582 735139]
 [2 'Mountain' 'Arizona' 7259 2606 7158024]
 [3 'West South Central' 'Arkansas' 2280 432 3009733]
 [4 'Pacific' 'California' 109008 20964 39461588]
 [5 'Mountain' 'Colorado' 7607 3250 5691287]
 [6 'New England' 'Connecticut' 2280 1696 3571520]
 [7 'South Atlantic' 'Delaware' 708 374 965479]
 [8 'South Atlantic' 'District of Columbia' 3770 3134 701547]
 [9 'South Atlantic' 'Florida' 21443 9587 21244317]
 [10 'South Atlantic' 'Georgia' 6943 2556 10511131]
 [11 'Pacific' 'Hawaii' 4131 2399 1420593]
 [12 'Mountain' 'Idaho' 1297 715 1750536]
 [13 'East North Central' 'Illinois' 6752 3891 12723071]
 [14 'East North Central' 'Indiana' 3776 1482 6695497]
 [15 'West North Central' 'Iowa' 1711 1038 3148618]
 [16 'West North Central' 'Kansas' 1443 773 2911359]
 [17 'East South Central' 'Kentucky' 2735 953 4461153]
 [18 'West South Central' 'Louisiana' 2540 519 4659690]
 [19 'New England' 'Maine' 1450 1066 1339057]
 [20 'South Atlantic' 'Maryland' 4914 2230 6035802]
 [21 'New England' 'Massachusetts' 6811 13257 6882635]
 [22 'East North Central' 'Michigan' 5209 3142 9984072]
 [23 'West North Central' 'Minnesota' 3993 3250 5606249]
 [24 'East South Central' 'Mississippi' 1024 328 2981020]
 [25 'West North Central' 'Missouri' 3776 2107 6121623]
 [26 'Mountain' 'Montana' 983 422 1060665]
 [27 'West North Central' 'Nebraska' 1745 676 1925614]
 [28 'Mountain' 'Nevada' 7058 486 3027341]
 [29 'New England' 'New Hampshire' 835 615 1353465]
 [30 'Mid-Atlantic' 'New Jersey' 6048 3350 8886025]
 [31 'Mountain' 'New Mexico' 1949 602 2092741]
 [32 'Mid-Atlantic' 'New York' 39827 52070 19530351]
 [33 'South Atlantic' 'North Carolina' 6451 2817 10381615]]
Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')
RangeIndex(start=0, stop=34, step=1)

# Sorting rows

## Sorting rows

Finding interested bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to .sort_values().

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.

| Sort on ...      | Syntax                                   |
|------------------|------------------------------------------|
| One column       | `df.sort_values("breed")`                |
| Multiple columns | `df.sort_values(["breed", "weight_kg"])` |

By combining `.sort_values()` with `.head()`, you can answer questions in the form, "What are the top cases where...?".

`homelessness` is available and `pandas` is loaded as `pd`.

<hr>

**Instructions (1/3)**

* Sort `homelessness` by the number of homeless individuals, from smallest to largest, and save this as `homelessness_ind`.
* Print the head of the sorted DataFrame.

**Instructions (2/3)**

* Sort `homelessness` by the number of homeless family members in descending order, and save this as `homelessness_fam`.
* Print the head of the sorted DataFrame.

**Instructions (3/3)**

* Sort `homelessness` first by region (ascending), and then by number of family members (descending). Save this as `homelessness_reg_fam`.
* Print the head of the sorted DataFrame.

In [5]:
# Sort homelessness by individual
homelessness_ind = homelessness.sort_values("individuals")

# Print the top few rows
print(homelessness_ind.head())

    Unnamed: 0              region          state  individuals  \
7            7      South Atlantic       Delaware          708
29          29         New England  New Hampshire          835
26          26            Mountain        Montana          983
24          24  East South Central    Mississippi         1024
12          12            Mountain          Idaho         1297

    family_members  state_pop
7              374     965479
29             615    1353465
26             422    1060665
24             328    2981020
12             715    1750536

In [6]:
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values("family_members", ascending=False)

# Print the top few rows
print(homelessness_fam.head())

    Unnamed: 0              region          state  individuals  \
32          32        Mid-Atlantic       New York        39827
4            4             Pacific     California       109008
21          21         New England  Massachusetts         6811
9            9      South Atlantic        Florida        21443
13          13  East North Central       Illinois         6752

    family_members  state_pop
32           52070   19530351
4            20964   39461588
21           13257    6882635
9             9587   21244317
13            3891   12723071

In [7]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(["region", "family_members"], ascending=[True, False])

# Print the top few rows
print(homelessness_reg_fam.head())

    Unnamed: 0              region     state  individuals  family_members  \
13          13  East North Central  Illinois         6752            3891
22          22  East North Central  Michigan         5209            3142
14          14  East North Central   Indiana         3776            1482
17          17  East South Central  Kentucky         2735             953
0            0  East South Central   Alabama         2570             864

    state_pop
13   12723071
22    9984072
14    6695497
17    4461153
0     4887681

# Subsetting columns

When working with data, you may not need all of the variables in your dataset. Square-brackets (`[]`) can be used to select only the columns that matter to you in an order that makes sense to you. To select only `"col_a"` of the DataFrame `df`, use

```
df["col_a"]
```

To select `"col_a"` and `"col_b"` of `df`, use

```
df[["col_a", "col_b"]]
```

`homelessness` is available and `pandas` is loaded as `pd`.

<hr>

**Instructions 1/3**

* Create a DataFrame called `individuals` that contains only the `individuals` column of `homelessness`.
* Print the head of the result.

**Instructions 2/3**

* Create a DataFrame called `state_fam` that contains only the `state` and `family_members` columns of `homelessness`, in that order.
* Print the head of the result.

**Instructions 3/3**

* Create a DataFrame called `ind_state` that contains the `individuals` and `state` columns of `homelessness`, in that order.
* Print the head of the result.

In [13]:
# Select the individuals column
individuals = homelessness["individuals"]

# Print the head of the result
print(individuals.head())

0      2570
1      1434
2      7259
3      2280
4    109008
Name: individuals, dtype: int64

In [14]:
# Select the state and family_members columns
state_fam = homelessness[["state", "family_members"]]

# Print the head of the result
print(state_fam.head())

        state  family_members
0     Alabama             864
1      Alaska             582
2     Arizona            2606
3    Arkansas             432
4  California           20964

In [15]:
# Select only the individuals and state columns, in that order
ind_state = homelessness[["individuals", "state"]]

# Print the head of the result
print(ind_state.head())

   individuals       state
0         2570     Alabama
1         1434      Alaska
2         7259     Arizona
3         2280    Arkansas
4       109008  California

# Subsetting rows

A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as *filtering rows* or *selecting rows*.

There are many ways to subset a DataFrame, perhaps the most common is to use relational operators to return `True` or `False` for each row, then pass that inside square **brackets**.

```
dogs[dogs["height_cm"] > 60]
dogs[dogs["color"] == "tan"]
```

You can filter for multiple conditions at once by using the "logical and" operator, `&`.

```
dogs[(dogs["height_cm"] > 60) & (dogs["col_b"] == "tan")]
```

`homelessness` is available and `pandas` is loaded as `pd`.

<hr>

**Instructions 1/3**

Filter `homelessness` for cases where the number of individuals is greater than ten thousand, assigning to `ind_gt_10k`. *View the printed result*.

**Instructions 2/3**

Filter `homelessness` for cases where the USA Census region is `"Mountain"`, assigning to `mountain_reg`. *View the printed result*.

**Instructions 3/3**

Filter `homelessness` for cases where the number of family members is less than one thousand and the region is `"Pacific"`, assigning to `fam_lt_1k_pac`. *View the printed result*.

In [17]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[(homelessness["individuals"]) > 10000]
# See the result
print(ind_gt_10k)

    Unnamed: 0          region       state  individuals  family_members  \
4            4         Pacific  California       109008           20964
9            9  South Atlantic     Florida        21443            9587
32          32    Mid-Atlantic    New York        39827           52070

    state_pop
4    39461588
9    21244317
32   19530351

In [18]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[(homelessness["individuals"]) > 10000]
# See the result
print(ind_gt_10k)

    Unnamed: 0          region       state  individuals  family_members  \
4            4         Pacific  California       109008           20964
9            9  South Atlantic     Florida        21443            9587
32          32    Mid-Atlantic    New York        39827           52070

    state_pop
4    39461588
9    21244317
32   19530351

In [19]:
# Filter for rows where family_members is less than 1000
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness["family_members"] < 1000) &(homelessness["region"] == "Pacific")]
# See the result
print(fam_lt_1k_pac)

   Unnamed: 0   region   state  individuals  family_members  state_pop
1           1  Pacific  Alaska         1434             582     735139

# Subsetting rows by categorical variables

Subsetting data based on a categorical variable often involves using the "or" operator (`|`) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, for example. Instead, use the `.isin()` method, which will allow you to tackle this problem by writing one condition instead of three separate ones.

```
colors = ["brown", "black", "tan"]
condition = dogs["color"].isin(colors)
dogs[condition]
```

`homelessness` is available and `pandas` is loaded as `pd`.

<hr>

**Instructions 1/2**

Filter `homelessness` for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to `south_mid_atlantic`. *View the printed result*.

**Instructions 2/2**

Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [22]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
regions = ["South Atlantic", "Mid-Atlantic"]
south_mid_atlantic = homelessness[(homelessness["region"].isin(regions))]

# See the result
print(south_mid_atlantic)

    Unnamed: 0          region                 state  individuals  \
7            7  South Atlantic              Delaware          708
8            8  South Atlantic  District of Columbia         3770
9            9  South Atlantic               Florida        21443
10          10  South Atlantic               Georgia         6943
20          20  South Atlantic              Maryland         4914
30          30    Mid-Atlantic            New Jersey         6048
32          32    Mid-Atlantic              New York        39827
33          33  South Atlantic        North Carolina         6451

    family_members  state_pop
7              374     965479
8             3134     701547
9             9587   21244317
10            2556   10511131
20            2230    6035802
30            3350    8886025
32           52070   19530351
33            2817   10381615

In [25]:
# # Subset for rows in South Atlantic or Mid-Atlantic regions
# regions = ["South Atlantic", "Mid-Atlantic"]
# condition = (homelessness["region"].isin(regions))
# south_mid_atlantic = homelessness[condition]

# # See the result
# print(south_mid_atlantic)

In [27]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[(homelessness["state"].isin(canu))]
# See the result
print(mojave_homelessness)

    Unnamed: 0    region       state  individuals  family_members  state_pop
2            2  Mountain     Arizona         7259            2606    7158024
4            4   Pacific  California       109008           20964   39461588
28          28  Mountain      Nevada         7058             486    3027341

# Adding new columns

You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as *transforming*, *mutating*, and *feature engineering*.

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together, or by changing their units.

`homelessness` is available and `pandas` is loaded as `pd`.

<hr>

**Instructions**

* Add a new column to `homelessness`, named total, containing the sum of the `individuals` and `family_members` columns.
* Add another column to `homelessness`, named `p_individuals`, containing the proportion of homeless people in each state who are individuals.

In [29]:
# Add total col as sum of individuals and family_members
homelessness["total"] = homelessness["individuals"] + homelessness["family_members"]

# Add p_individuals col as proportion of individuals
homelessness["p_individuals"] = homelessness["individuals"] /  homelessness["total"]

# See the result
print(homelessness.head())

   Unnamed: 0              region       state  individuals  family_members  \
0           0  East South Central     Alabama         2570             864
1           1             Pacific      Alaska         1434             582
2           2            Mountain     Arizona         7259            2606
3           3  West South Central    Arkansas         2280             432
4           4             Pacific  California       109008           20964

   state_pop   total  p_individuals
0    4887681    3434       0.748398
1     735139    2016       0.711310
2    7158024    9865       0.735834
3    3009733    2712       0.840708
4   39461588  129972       0.838704

# Combo-attack!


You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new `pandas` skills to find out.

<hr>

**Instructions**
* Add a column to `homelessness`, `indiv_per_10k`, containing the number of homeless individuals per ten thousand people in each state.
* Subset rows where `indiv_per_10k` is higher than 20, assigning to high_homelessness.
* Sort `high_homelessness` by descending `indiv_per_10k`, assigning to `high_homelessness_srt`.
* Select only the state and `indiv_per_10k` columns of `high_homelessness_srt` and save as result. *Look at the `result`*.

In [30]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness["individuals"] / homelessness["state_pop"]

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[["state", "indiv_per_10k"]]

# See the result
print(result)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
28                Nevada      23.314189
32              New York      20.392363