# Mean and median

In [153]:
import pandas as pd
walmart_sales_file= r'C:\Machinelearning\datacamp\Thangaraj_Datacamp-Data_Scientist_with_Python\Data_Manipulation_with_pandas\Datasets\walmart.csv'
sales = pd.read_csv(walmart_sales_file)
sales.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI
0,1,A,1,2/5/2010,4488.2,False,42.31,2.572,8.106,NaN,NaN,NaN,NaN,NaN,211.096358
1,1,A,1,2/12/2010,4105.8,True,38.51,2.548,8.106,NaN,NaN,NaN,NaN,NaN,211.242170
2,1,A,1,2/19/2010,4244.4,False,39.93,2.514,8.106,NaN,NaN,NaN,NaN,NaN,211.289143
3,1,A,1,2/26/2010,4919.1,False,46.63,2.561,8.106,NaN,NaN,NaN,NaN,NaN,211.319643
4,1,A,1,3/5/2010,4912.5,False,46.50,2.625,8.106,NaN,NaN,NaN,NaN,NaN,211.350143

In [154]:
#https://www.tutorialspoint.com/numpy/numpy_statistical_functions.htm
#https://docs.python.org/3.4/library/statistics.html#statistics.mode
import statistics
list_numbers = [1,2,3,4,5,6,7,8,9,10]
set1 =[1, 2, 3, 3, 4, 4, 4, 5, 5, 6] 
print("max of given data set is % s" % max(list_numbers))
print("min of given data set is % s" % min(list_numbers))
print("Mean/Average of given data set is % s" % statistics.mean(list_numbers))
print("Mode of given data set is % s" % (statistics.mode(set1))) 
print("Median of given data set is % s" % (statistics.median(list_numbers))) 
print("std of given data set is % s" % (statistics.stdev(list_numbers))) 
print("Variance of given data set is % s" % (statistics.variance(list_numbers)))

max of given data set is 10
min of given data set is 1
Mean/Average of given data set is 5.5
Mode of given data set is 4
Median of given data set is 5.5
std of given data set is 3.0276503540974917
Variance of given data set is 9.166666666666666

## Mean and median

Summary statistics are exactly what they sound like - they summarize many numbers in one statistic. For example, mean, median, minimum, maximum, and standard deviation are summary statistics. Calculating summary statistics allows you to get a better sense of your data, even if there's a lot of it.

`sales` is available and `pandas` is loaded as `pd`.

<hr>

**Instructions**

* Explore your new DataFrame first by printing the first few rows of the `sales` DataFrame.
* Print information about the columns in `sales`.
* Print the mean of the `weekly_sales` column.
* Print the median of the `weekly_sales` column.

In [155]:
# Print the head of the sales DataFrame
print(sales.head())
print('---------------------')
# Print the info about the sales DataFrame
print(sales.info())
print('---------------------')
# Print the mean of weekly_sales
print(sales["weekly_sales"].mean())
print('---------------------')
# Print the median of weekly_sales
print(sales["weekly_sales"].median())
print('---------------------')
# Print the std of weekly_sales
print(sales["weekly_sales"].std())
print('---------------------')
# Print the mode of weekly_sales
print(sales["weekly_sales"].mode())

   store type  department       date  weekly_sales  is_holiday  temperature_c  \
0      1    A           1   2/5/2010        4488.2       False          42.31
1      1    A           1  2/12/2010        4105.8        True          38.51
2      1    A           1  2/19/2010        4244.4       False          39.93
3      1    A           1  2/26/2010        4919.1       False          46.63
4      1    A           1   3/5/2010        4912.5       False          46.50

   fuel_price_usd_per_l  unemployment  MarkDown1  MarkDown2  MarkDown3  \
0                 2.572         8.106        NaN        NaN        NaN
1                 2.548         8.106        NaN        NaN        NaN
2                 2.514         8.106        NaN        NaN        NaN
3                 2.561         8.106        NaN        NaN        NaN
4                 2.625         8.106        NaN        NaN        NaN

   MarkDown4  MarkDown5         CPI
0        NaN        NaN  211.096358
1        NaN        NaN  211.242170
2        NaN        NaN  211.289143
3        NaN        NaN  211.319643
4        NaN        NaN  211.350143
---------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 15 columns):
store                   8190 non-null int64
type                    8190 non-null object
department              8190 non-null int64
date                    8190 non-null object
weekly_sales            8190 non-null float64
is_holiday              8190 non-null bool
temperature_c           8190 non-null float64
fuel_price_usd_per_l    8190 non-null float64
unemployment            7605 non-null float64
MarkDown1               4032 non-null float64
MarkDown2               2921 non-null float64
MarkDown3               3613 non-null float64
MarkDown4               3464 non-null float64
MarkDown5               4050 non-null float64
CPI                     7605 non-null float64
dtypes: bool(1), float64(10), int64(2), object(2)
memory usage: 903.9+ KB
None
---------------------
6276.218962148973
---------------------
6421.65
---------------------
1872.7241644421704
---------------------
0    6712.4
dtype: float64

# Summarizing dates

## Summarizing dates

Summary statistics can also be calculated on date columns which have values with the data type `datetime64`. Some summary statistics — like mean — don't make a ton of sense on dates, but others are super helpful, for example minimum and maximum, which allow you to see what time range your data covers.

`sales` is available and `pandas` is loaded as `pd`.

<hr>

**Instructions**

* Print the maximum of the date column.
* Print the minimum of the date column.

In [156]:
# Print the maximum of the date column
print(sales["date"].max())

# Print the minimum of the date column
print(sales["date"].min())

9/9/2011
1/11/2013

# Efficient summaries

## Efficient summaries

While pandas and NumPy have tons of functions, sometimes you may need a different function to summarize your data.

The `.agg()` method allows you to apply your own custom functions to a DataFrame, as well as apply functions to more than one column of a DataFrame at once, making your aggregations super efficient.

In the custom function for this exercise, "IQR" is short for inter-quartile range, which is the 75th percentile minus the 25th percentile. It's an alternative to standard deviation that is helpful if your data contains outliers.

`sales` is available and `pandas` is loaded as `pd`.

<hr>

**Instructions 1/3**

Use the custom `iqr` function defined for you along with `.agg()` to print the IQR of the `temperature_c` column of `sales`.

**Instructions 2/3**

Update the column selection to use the custom `iqr` function with `.agg()` to print the IQR of `temperature_c`, `fuel_price_usd_per_l`, and `unemployment`, in that order.

**Instructions 3/3**

Update the aggregation functions called by `.agg(`): include `iqr` and `np.median` in that order.

In [157]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Print IQR of the temperature_c column
print(sales["temperature_c"].agg(iqr))

27.9775

In [158]:
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c",'fuel_price_usd_per_l','unemployment']].agg(iqr))

temperature_c           27.9775
fuel_price_usd_per_l     0.7020
unemployment             1.9330
dtype: float64

In [159]:
import numpy as np
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg([iqr,np.median]))

        temperature_c  fuel_price_usd_per_l  unemployment
iqr           27.9775                 0.702         1.933
median        60.7100                 3.513         7.806

# Cumulative statistics

## Cumulative statistics

Cumulative statistics can also be helpful in tracking summary statistics over time. In this exercise, you'll calculate the cumulative sum and cumulative max of a department's weekly sales, which will allow you to identify what the total sales were so far as well as what the highest weekly sales were so far.

A DataFrame called `sales_1_1` has been created for you, which contains the sales data for department 1 of store 1. `pandas` is loaded as `pd`.

<hr>

**Instructions**

* Sort the rows of `sales_1_1` by the `date` column in ascending order.
* Get the cumulative sum of `weekly_sales` and add it as a new column of `sales_1_1` called `cum_weekly_sales`.
* Get the cumulative maximum of `weekly_sales`, and add it as a column called `cum_max_sales`.
* Print the `date`, `weekly_sales`, `cum_weekly_sales`, and `cum_max_sales` columns.

In [160]:
sales_1_1 = sales[sales['department']==2]

Cumulative statistics

Cumulative statistics can also be helpful in tracking summary statistics over time. In this exercise, you'll calculate the cumulative sum and cumulative max of a department's weekly sales, which will allow you to identify what the total sales were so far as well as what the highest weekly sales were so far.

A DataFrame called sales_1_1 has been created for you, which contains the sales data for department 1 of store 1. pandas is loaded as pd.
Instructions
100 XP

    Sort the rows of sales_1_1 by the date column in ascending order.
    Get the cumulative sum of weekly_sales and add it as a new column of sales_1_1 called cum_weekly_sales.
    Get the cumulative maximum of weekly_sales, and add it as a column called cum_max_sales.
    Print the date, weekly_sales, cum_weekly_sales, and cum_max_sales columns.

In [161]:
# Sort sales_1_1 by date
sales_1_1 = sales_1_1.sort_values('date')
print(sales_1_1.shape)

# Get the cumulative sum of weekly_sales, add as cum_weekly_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1['weekly_sales'].cumsum() # Means will add cumulatively e.g 1+2+3= 6

# Get the cumulative max of weekly_sales, add as cum_max_sales col
sales_1_1['cum_weekly_sales'] = sales_1_1[['cum_weekly_sales']].cummax()

# See the columns you calculated
print(sales_1_1[["date", "weekly_sales", "cum_weekly_sales", "cum_weekly_sales"]])

(1000, 15)
           date  weekly_sales  cum_weekly_sales  cum_weekly_sales
1245  1/11/2013        -365.3            -365.3            -365.3
1609  1/11/2013        4571.3            4206.0            4206.0
1791  1/11/2013        5292.2            9498.2            9498.2
1973  1/11/2013        5357.3           14855.5           14855.5
1427  1/11/2013        4203.3           19058.8           19058.8
1063  1/11/2013        5150.3           24209.1           24209.1
1557  1/13/2012        4570.1           28779.2           28779.2
1739  1/13/2012        5447.7           34226.9           34226.9
1375  1/13/2012        3972.1           38199.0           38199.0
1921  1/13/2012        5636.1           43835.1           43835.1
1011  1/13/2012        5159.1           48994.2           48994.2
1193  1/13/2012        1053.7           50047.9           50047.9
1505  1/14/2011        3941.3           53989.2           53989.2
1687  1/14/2011        5329.2           59318.4           59318.4
1323  1/14/2011        3460.3           62778.7           62778.7
1869  1/14/2011        4832.3           67611.0           67611.0
1141  1/14/2011        1423.1           69034.1           69034.1
1610  1/18/2013        3957.7           72991.8           72991.8
1246  1/18/2013        -440.1           72991.8           72991.8
1428  1/18/2013        3506.7           76058.4           76058.4
1064  1/18/2013        4817.7           80876.1           80876.1
1792  1/18/2013        4421.5           85297.6           85297.6
1974  1/18/2013        5290.7           90588.3           90588.3
1194  1/20/2012        3046.5           93634.8           93634.8
1376  1/20/2012        5007.8           98642.6           98642.6
1012  1/20/2012        5863.8          104506.4          104506.4
1558  1/20/2012        5482.8          109989.2          109989.2
1740  1/20/2012        5817.0          115806.2          115806.2
1922  1/20/2012        5969.8          121776.0          121776.0
1870  1/21/2011        5452.6          127228.6          127228.6
...         ...           ...               ...               ...
1489  9/24/2010        7977.4         6306652.6         6306652.6
1307  9/24/2010        7483.4         6314136.0         6314136.0
1853  9/24/2010        7998.4         6322134.4         6322134.4
1230  9/28/2012        5442.9         6327577.3         6327577.3
1594  9/28/2012        8046.6         6335623.9         6335623.9
1412  9/28/2012        7476.6         6343100.5         6343100.5
1776  9/28/2012        8648.6         6351749.1         6351749.1
1048  9/28/2012        8148.6         6359897.7         6359897.7
1958  9/28/2012        8133.6         6368031.3         6368031.3
1304   9/3/2010        7871.7         6375903.0         6375903.0
1850   9/3/2010        8751.7         6384654.7         6384654.7
1486   9/3/2010        8504.7         6393159.4         6393159.4
1122   9/3/2010        5261.3         6398420.7         6398420.7
1668   9/3/2010        8688.7         6407109.4         6407109.4
1360  9/30/2011        7555.5         6414664.9         6414664.9
1906  9/30/2011        8775.5         6423440.4         6423440.4
1178  9/30/2011        5087.8         6428528.2         6428528.2
1542  9/30/2011        8180.5         6436708.7         6436708.7
1724  9/30/2011        8614.7         6445323.4         6445323.4
1773   9/7/2012        8719.4         6454042.8         6454042.8
1227   9/7/2012        6143.6         6460186.4         6460186.4
1045   9/7/2012        9006.0         6469192.4         6469192.4
1591   9/7/2012        9166.0         6478358.4         6478358.4
1409   9/7/2012        8460.0         6486818.4         6486818.4
1955   9/7/2012        8890.0         6495708.4         6495708.4
1175   9/9/2011        4917.6         6500626.0         6500626.0
1539   9/9/2011        7919.6         6508545.6         6508545.6
1903   9/9/2011        8845.6         6517391.2         6517391.2
1721   9/9/2011        9283.1         6526674.3         6526674.3
1357   9/9/2011        7255.6         6533929.9         6533929.9

[1000 rows x 4 columns]

# Dropping duplicates

## Dropping duplicates

Removing duplicates is an essential skill to get accurate counts, because often you don't want to count the same thing multiple times. In this exercise, you'll create some new DataFrames using unique values from `sales`.

`sales` is available and `pandas` is imported as `pd`.

<hr>

**Instructions**

* Remove rows of `sales` with duplicate pairs of `store` and `type` and save as `store_types` and print the head.
* Remove rows of `sales` with duplicate pairs of `store` and `department` and save as `store_depts` and print the head.
* Subset the rows that are holiday weeks, and drop the duplicate `dates`, saving as `holiday_dates`.
Select the date column of `holiday_dates`, and print.

In [162]:
# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset = ["store", "type"])
print(store_types.head())
print('----------------------------')
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset = ["store", "department"])
print(store_depts.head())
print('----------------------------')
# Subset the rows that are holiday weeks and drop duplicate dates
holiday_dates = sales[sales["is_holiday"]].drop_duplicates(subset = "date")
# Print date col of holiday_dates
print(holiday_dates)

     store type  department      date  weekly_sales  is_holiday  \
0        1    A           1  2/5/2010        4488.2       False
182      2    A           1  2/5/2010        4276.2       False
364      3    A           1  2/5/2010        4828.2       False
546      4    A           1  2/5/2010        4635.8       False
728      5    A           1  2/5/2010        4227.2       False

     temperature_c  fuel_price_usd_per_l  unemployment  MarkDown1  MarkDown2  \
0            42.31                 2.572         8.106        NaN        NaN
182          40.19                 2.572         8.324        NaN        NaN
364          45.71                 2.572         7.368        NaN        NaN
546          43.76                 2.598         8.623        NaN        NaN
728          39.70                 2.572         6.566        NaN        NaN

     MarkDown3  MarkDown4  MarkDown5         CPI
0          NaN        NaN        NaN  211.096358
182        NaN        NaN        NaN  210.752605
364        NaN        NaN        NaN  214.424881
546        NaN        NaN        NaN  126.442065
728        NaN        NaN        NaN  211.653972
----------------------------
     store type  department      date  weekly_sales  is_holiday  \
0        1    A           1  2/5/2010        4488.2       False
182      2    A           1  2/5/2010        4276.2       False
364      3    A           1  2/5/2010        4828.2       False
546      4    A           1  2/5/2010        4635.8       False
728      5    A           1  2/5/2010        4227.2       False

     temperature_c  fuel_price_usd_per_l  unemployment  MarkDown1  MarkDown2  \
0            42.31                 2.572         8.106        NaN        NaN
182          40.19                 2.572         8.324        NaN        NaN
364          45.71                 2.572         7.368        NaN        NaN
546          43.76                 2.598         8.623        NaN        NaN
728          39.70                 2.572         6.566        NaN        NaN

     MarkDown3  MarkDown4  MarkDown5         CPI
0          NaN        NaN        NaN  211.096358
182        NaN        NaN        NaN  210.752605
364        NaN        NaN        NaN  214.424881
546        NaN        NaN        NaN  126.442065
728        NaN        NaN        NaN  211.653972
----------------------------
     store type  department        date  weekly_sales  is_holiday  \
1        1    A           1   2/12/2010        4105.8        True
31       1    A           1   9/10/2010        8125.5        True
42       1    A           1  11/26/2010        6725.5        True
47       1    A           1  12/31/2010        5137.3        True
53       1    A           1   2/11/2011        3941.2        True
83       1    A           1    9/9/2011        7954.6        True
94       1    A           1  11/25/2011        6337.6        True
99       1    A           1  12/30/2011        4767.9        True
105      1    A           1   2/10/2012        5142.9        True
135      1    A           1    9/7/2012        8769.0        True
146      1    A           1  11/23/2012        5944.1        True
151      1    A           1  12/28/2012        4789.8        True
157      1    A           1    2/8/2013        6008.7        True

     temperature_c  fuel_price_usd_per_l  unemployment  MarkDown1  MarkDown2  \
1            38.51                 2.548         8.106        NaN        NaN
31           78.69                 2.565         7.787        NaN        NaN
42           64.52                 2.735         7.838        NaN        NaN
47           48.43                 2.943         7.838        NaN        NaN
53           36.39                 3.022         7.742        NaN        NaN
83           76.00                 3.546         7.962        NaN        NaN
94           60.14                 3.236         7.866     410.31      98.00
99           44.55                 3.129         7.866    5762.10   46011.38
105          48.02                 3.409         7.348   13925.06    6927.23
135          83.96                 3.730         6.908    5204.68      35.74
146          56.23                 3.211         6.573     883.59       4.17
151          44.79                 3.108         6.573   12659.55   37101.13
157          56.67                 3.417         6.525   32355.16     729.80

     MarkDown3  MarkDown4  MarkDown5         CPI
1          NaN        NaN        NaN  211.242170
31         NaN        NaN        NaN  211.495190
42         NaN        NaN        NaN  211.748433
47         NaN        NaN        NaN  211.404932
53         NaN        NaN        NaN  212.936705
83         NaN        NaN        NaN  215.861056
94    55805.51       8.00     554.92  218.467621
99      260.36     983.65    4735.78  219.535990
105     101.64    8471.88    6886.04  220.265178
135      50.94    4120.32    2737.17  222.439015
146   74910.32     209.91     303.32  223.561947
151     174.78      74.46    1208.86  223.960414
157     280.89   20426.61    4671.78  224.235029

# Counting categorical variables

Counting categorical variables

Counting is a great way to get an overview of your data and to spot curiosities that you might not notice otherwise. In this exercise, you'll count the number of each type of store and the number of each department number using the DataFrames you created in the previous exercise:

# Drop duplicate store/type combinations
store_types = sales.drop_duplicates(subset=["store", "type"])

# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates(subset=["store", "department"])

The store_types and store_depts DataFrames you created in the last exercise are available and pandas is imported as pd.
Instructions
100 XP

    Count the number of stores of each store type in store_types.
    Count the proportion of stores of each store type in store_types.
    Count the number of different departments in store_depts, sorting the counts in descending order.
    Count the proportion of different departments in store_depts, sorting the proportions in descending order.

In [163]:
# Count the number of stores of each type # This willl help identify how many groups(Type) like A,B,C avalibale in theType column
store_counts = store_types["type"].value_counts()
print(store_counts)
print('-----------------------')
# Get the proportion of stores of each type # This will give how munch each group(A,B,C) distributed
store_props = store_types["type"].value_counts(normalize=True)
print(store_props)
print('-----------------------')
# Count the number of each department number and sort # This will give sorted group of (A,B,C)
dept_counts_sorted = store_depts["department"].value_counts(sort=True)
print(dept_counts_sorted)
print('-----------------------')
# Get the proportion of departments of each number and sort # This will give sorted & distribution
dept_props_sorted = store_depts["department"].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

A    39
B     6
C     2
Name: type, dtype: int64
-----------------------
A    0.829787
B    0.127660
C    0.042553
Name: type, dtype: float64
-----------------------
1    35
3     7
2     6
Name: department, dtype: int64
-----------------------
1    0.729167
3    0.145833
2    0.125000
Name: department, dtype: float64

# What percent of sales occurred at each store type? (Manual -Long steps)

What percent of sales occurred at each store type?

While .groupby() is useful, you can calculate grouped summary statistics without it.

Walmart distinguishes three types of stores: "supercenters", "discount stores", and "neighborhood markets", encoded in this dataset as type "A", "B", and "C". In this exercise, you'll calculate the total sales made at each store type, without using .groupby(). You can then use these numbers to see what proportion of Walmart's total sales were made at each.

sales is available and pandas is imported as pd.
Instructions
100 XP

    Calculate the total weekly sales over the whole dataset.
    Subset for type "A" stores, and calculate their total weekly sales.
    Do the same for type "B" and type "C" stores.
    Combine the A/B/C results into a list, and divide by overall sales to get the proportion of sales by type.

In [164]:
# In this example we have three differnt types A,B,C we need to calculate the A Type weekly sales,B Type Sales
# C Type Sale and then we meed to calculate the how much % from Total sales. We will use below method.
# Calc total weekly sales
sales_all = sales["weekly_sales"].sum()
print('-----------------------')

# Subset for type A stores, calc total weekly sales
sales_A = sales[sales["type"] == "A"]["weekly_sales"].sum()
print(sales_A)
print('-----------------------')
# Subset for type B stores, calc total weekly sales
sales_B = sales[sales["type"] == "B"]["weekly_sales"].sum()
print(sales_B)

print('-----------------------')
# Subset for type C stores, calc total weekly sales
sales_C = sales[sales["type"] == "C"]["weekly_sales"].sum()
print(sales_C)
print('-----------------------')
# Get proportion for each type
sales_propn_by_type = [sales_A, sales_B, sales_C] / sales_all
print(sales_propn_by_type)

-----------------------
44103257.1
-----------------------
6134490.0
-----------------------
1164486.2
-----------------------
[0.85800274 0.11934287 0.02265439]

# Calculations with .groupby()

In [165]:
# Instead of above manual stpes we will use group my method and we will caluclate effetively.
# Example
sales_by_type = sales.groupby("type")["weekly_sales"].sum()
print(sales_by_type)
print(sales_by_type[["A", "B","C"]] / sales_by_type.sum())

type
A    44103257.1
B     6134490.0
C     1164486.2
Name: weekly_sales, dtype: float64
type
A    0.858003
B    0.119343
C    0.022654
Name: weekly_sales, dtype: float64

## Calculations with .groupby()

The `.groupby()` method makes life much easier. In this exercise, you'll perform the same calculations as last time, except you'll use the `.groupby()` method. You'll also perform calculations on data grouped by two variables to see if sales differs by store type depending on if it's a holiday week or not.

`sales` is available and `pandas` is loaded as `pd`.

**Instructions 1/2**

* Group sales by `"type"`, take the sum of `"weekly_sales"`, and store as `sales_by_type`.
* Calculate the proportion of sales at each store type by dividing by the sum of `sales_by_type`. Assign to `sales_propn_by_type`.

**Instructions 2/2**

* Group sales by `"type"` and `"is_holiday"`, take the sum of `weekly_sales`, and store as `sales_by_holiday_type`.

In [166]:
# Group by type; calc total weekly sales
sales_by_type = sales.groupby("type")["weekly_sales"].sum()
print(sales_by_type)
# Get proportion for each type
sales_propn_by_type = sales_by_type[["A", "B"]] / sales_by_type.sum()
print(sales_propn_by_type)

type
A    44103257.1
B     6134490.0
C     1164486.2
Name: weekly_sales, dtype: float64
type
A    0.858003
B    0.119343
Name: weekly_sales, dtype: float64

In [167]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type","is_holiday"]).sum()
print(sales_by_type_is_holiday)

                  store  department  weekly_sales  temperature_c  \
type is_holiday
A    False       128232        9285    41510530.6      392919.63
     True          9828         713     2592726.5       24288.86
B    False        38638         927     5763338.9       54471.07
     True          3042          73      371151.1        3472.75
C    False         8045         179     1101726.9       10391.52
     True           585          13       62759.3         583.43

                 fuel_price_usd_per_l  unemployment    MarkDown1   MarkDown2  \
type is_holiday
A    False                  22185.676     47468.002  21768906.31  6031287.69
     True                    1638.405      3934.720   3331188.80  2804084.32
B    False                   3162.319      6138.572   2182690.20   549094.53
     True                     238.761       521.441    306658.95   240097.77
C    False                    625.749      1347.769    667479.37   184974.32
     True                      44.163       112.470     97599.41    75641.20

                  MarkDown3   MarkDown4    MarkDown5           CPI
type is_holiday
A    False        769175.94  8540833.91  13071212.89  1.039535e+06
     True        4954645.06  1606419.85    811633.38  8.639669e+04
B    False         53824.29   816292.65   2402150.64  1.418421e+05
     True         468395.31   165797.58    126336.25  1.213733e+04
C    False         13043.51   244148.68    310034.24  2.921674e+04
     True         100157.84    33237.24     14109.11  2.436748e+03

In [168]:
# From previous step
sales_by_type = sales.groupby("type")["weekly_sales"].sum()

# Group by type and is_holiday; calc total weekly sales
sales_by_type_is_holiday = sales.groupby(["type","is_holiday"])["weekly_sales"].sum()
print(sales_by_type_is_holiday)

type  is_holiday
A     False         41510530.6
      True           2592726.5
B     False          5763338.9
      True            371151.1
C     False          1101726.9
      True             62759.3
Name: weekly_sales, dtype: float64

# Multiple grouped summaries

## Multiple grouped summaries

Earlier in this chapter you saw that the `.agg()` method is useful to compute multiple statistics on multiple variables. It also works with grouped data. NumPy, which is imported as `np`, has many different summary statistics functions, including:

* `np.min()`
* `np.max()`
* `np.mean()`
* `np.median()`

`sales` is available and `pandas` is imported as `pd`.

<hr>

**Instructions**

* Import NumPy with the alias `np`.
* Get the min, max, mean, and median of `weekly_sales` for each store type using `.groupby()` and `.agg().` Store this as `sales_stats`. Make sure to use `numpy` functions!
* Get the min, max, mean, and median of `unemployment` and `fuel_price_usd_per_l` for each store type. Store this as `unemp_fuel_stats`.

In [169]:
# Import NumPy with the alias np
import numpy as np

# For each store type, aggregate weekly_sales: get min, max, mean, and median

sales_stats = sales.groupby("type")["weekly_sales"].agg([np.min, np.max, np.mean, np.median])

# Print sales_stats
print(sales_stats)

# For each store type, aggregate unemployment and fuel_price_usd_per_l: get min, max, mean, and median
unemp_fuel_stats = sales.groupby("type")["unemployment", "fuel_price_usd_per_l"].agg([np.min, np.max, np.mean, np.median])



# Print unemp_fuel_stats
print(unemp_fuel_stats)

        amin     amax         mean  median
type
A     -440.1  10570.3  6302.265947  6443.1
B     1275.3   9920.2  6134.490000  6273.1
C     2728.7   8927.6  6065.032292  6104.2
     unemployment                          fuel_price_usd_per_l         \
             amin    amax      mean median                 amin   amax
type
A           3.684  14.313  7.903248  7.852                2.472  4.468
B           3.684  10.641  7.145937  6.989                2.514  4.468
C           8.335   8.992  8.640467  8.625                2.699  4.066


          mean  median
type
A     3.404413  3.5090
B     3.401080  3.5090
C     3.489125  3.6255

## Pivoting on one variable  ( Alternate to group by)

weekly_sales## Pivoting on one variable

Pivot tables are the standard way of aggregating data in spreadsheets. In pandas, pivot tables are essentially just another way of performing grouped calculations. That is, the `.pivot_table()` method is just an alternative to `.groupby()`.

In this exercise, you'll perform calculations using `.pivot_table()` to replicate the calculations you performed in the last lesson using `.groupby()`.

`sales` is available and `pandas` is imported as `pd`.

<hr>

**Instructions 1/3**

* Get the mean weekly_sales by type using .pivot_table() and store as mean_sales_by_type.

**Instructions 2/3**

* Get the mean and median (using NumPy functions) of weekly_sales by type using .pivot_table() and store as mean_med_sales_by_type.

**Instructions 3/3**

* Get the mean of weekly_sales by type and is_holiday using .pivot_table() and store as mean_sales_by_type_holiday.

In [170]:
# Pivot for mean weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales", index="type")

# Print mean_sales_by_type
print(mean_sales_by_type)

      weekly_sales
type
A      6302.265947
B      6134.490000
C      6065.032292

In [171]:
# Import NumPy as np
import numpy as np

# Pivot for mean and median weekly_sales for each store type
mean_sales_by_type = sales.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean])
print(mean_sales_by_type)
# Pivot for mean and median weekly_sales for each store type
mean_med_sales_by_type = sales.pivot_table(values="weekly_sales", index="type", aggfunc=[np.mean, np.median])

# Print mean_med_sales_by_type
print(mean_med_sales_by_type)

             mean
     weekly_sales
type
A     6302.265947
B     6134.490000
C     6065.032292
             mean       median
     weekly_sales weekly_sales
type
A     6302.265947       6443.1
B     6134.490000       6273.1
C     6065.032292       6104.2

In [172]:
# Pivot for mean weekly_sales by store type and holiday
mean_sales_by_type_holiday = sales.pivot_table(values="weekly_sales", index="type", columns="is_holiday")

# Print mean_sales_by_type_holiday
print(mean_sales_by_type_holiday)

is_holiday        False        True
type
A           6387.218126  5195.844689
B           6217.194067  5084.261644
C           6154.898883  4827.638462

## Fill in missing values and sum values with pivot tables

## Fill in missing values and sum values with pivot tables

The `.pivot_table()` method has several useful arguments, including `fill_value` and `margins`.

* `fill_value` replaces missing values with a real value (known as imputation). What to replace missing values with is a topic big enough to have its own course [(Dealing with Missing Data in Python)](https://www.datacamp.com/courses/dealing-with-missing-data-in-python), but the simplest thing to do is to substitute a dummy value.
* `margins` is a shortcut for when you pivoted by two variables, but also wanted to pivot by each of those variables separately: it gives the row and column totals of the pivot table contents.

In this exercise, you'll practice using these arguments to up your pivot table skills, which will help you crunch numbers more efficiently!

`sales` is available and `pandas` is imported as `pd`.

<hr>

**Instructions 1/2**

Print the mean `weekly_sales` by `department` and `type`, filling in any missing values with `0`.

**Instructions 2/2**

Print the mean `weekly_sales` by `department` and `type`, filling in any missing values with `0` and summing all rows and columns.

In [173]:
# Print mean weekly_sales by department and type; 
print(sales.pivot_table(values="weekly_sales", index="department", columns="type"))

type                  A        B            C
department
1           6373.778451  6134.49  6065.032292
2           6533.929900      NaN          NaN
3           5713.182500      NaN          NaN

In [174]:
# Print mean weekly_sales by department and type; 
print(sales.pivot_table(values="weekly_sales", index="type", columns="department"))

department            1          2          3
type
A           6373.778451  6533.9299  5713.1825
B           6134.490000        NaN        NaN
C           6065.032292        NaN        NaN

In [175]:
# Print mean weekly_sales by department and type; fill missing values with 0 ( From above)
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0))

type                  A        B            C
department
1           6373.778451  6134.49  6065.032292
2           6533.929900     0.00     0.000000
3           5713.182500     0.00     0.000000

In [176]:

# Print the mean weekly_sales by department and type; fill missing values with 0s; sum all rows and cols ( Statics of each col & row)
print(sales.pivot_table(values="weekly_sales", index="department", columns="type", fill_value=0, aggfunc=sum, margins=True))

type                 A        B          C         All
department
1           31856144.7  6134490  1164486.2  39155120.9
2            6533929.9        0        0.0   6533929.9
3            5713182.5        0        0.0   5713182.5
All         44103257.1  6134489  1164486.2  51402233.3