In [159]:
import pandas as pd
temperature_file= r'C:\Machinelearning\datacamp\Thangaraj_Datacamp-Data_Scientist_with_Python\Data_Manipulation_with_pandas\Datasets\weather_data.csv'
temperatures = pd.read_csv(temperature_file)
temperatures.head()

         city country  Temperature  Wind               date
0       Yerky      UA        -1.86  3.47   February 5, 2010
1     Caconda      AO        26.15  1.22  February 12, 2010
2  Diamantino      BR        29.40  2.12  February 19, 2010
3     Huarmey      PE        21.60  1.62  February 26, 2010
4        Abha      SA        14.03  0.22      March 5, 2010

# Setting & removing indexes

## Setting & removing indexes

pandas allows you to designate columns as an index. This enables cleaner code when taking subsets (as well as providing more efficient lookup under some circumstances).

In this chapter, you'll be exploring `temperatures`, a DataFrame of average temperatures in cities around the world. `pandas` is loaded as `pd`.

<hr>

**Instructions**

* *Look at `temperatures`*.
* Set the index of `temperatures` to `"city"`, assigning to `temperatures_ind`.
* *Look at `temperatures_ind`. How is it different from `temperatures`?*
* Reset the index of `temperatures_ind`, keeping its contents.
* Reset the index of `temperatures_ind`, dropping its contents.

In [160]:
# Look at temperatures
print(temperatures.head())

         city country  Temperature  Wind               date
0       Yerky      UA        -1.86  3.47   February 5, 2010
1     Caconda      AO        26.15  1.22  February 12, 2010
2  Diamantino      BR        29.40  2.12  February 19, 2010
3     Huarmey      PE        21.60  1.62  February 26, 2010
4        Abha      SA        14.03  0.22      March 5, 2010

In [161]:
# Index temperatures by city
temperatures_ind = temperatures.set_index("city")

In [162]:
# Look at temperatures_ind
print(temperatures_ind.head(5))

           country  Temperature  Wind               date
city
Yerky           UA        -1.86  3.47   February 5, 2010
Caconda         AO        26.15  1.22  February 12, 2010
Diamantino      BR        29.40  2.12  February 19, 2010
Huarmey         PE        21.60  1.62  February 26, 2010
Abha            SA        14.03  0.22      March 5, 2010

In [163]:
# Reset the index, keeping its contents
temperatures_ind.reset_index()
# Here city will be moved as zero index and will display like sepearte column
print(temperatures_ind.reset_index().head(5))

         city country  Temperature  Wind               date
0       Yerky      UA        -1.86  3.47   February 5, 2010
1     Caconda      AO        26.15  1.22  February 12, 2010
2  Diamantino      BR        29.40  2.12  February 19, 2010
3     Huarmey      PE        21.60  1.62  February 26, 2010
4        Abha      SA        14.03  0.22      March 5, 2010

In [164]:
# Reset the index, dropping its contents
#print(temperatures_ind.reset_index(drop=True))# City column will be removed
print(temperatures_ind.reset_index(drop=True).head(5))

  country  Temperature  Wind               date
0      UA        -1.86  3.47   February 5, 2010
1      AO        26.15  1.22  February 12, 2010
2      BR        29.40  2.12  February 19, 2010
3      PE        21.60  1.62  February 26, 2010
4      SA        14.03  0.22      March 5, 2010

# Subsetting with .loc[]  another method to verify isin()

## Subsetting with .loc[]

The killer feature for indexes is `.loc[]`: a subsetting method that accepts index values. When you pass it a single argument, it will take a subset of rows.

The code for subsetting using `.loc[]` can be easier to read than standard square bracket subsetting, which can make your code less burdensome to maintain.

`pandas` is loaded as `pd`. `temperatures` and `temperatures_ind` are available; the latter is indexed by `city`.

<hr>

**Instructions**

* Create a list of cities to subset on: Moscow and Saint Petersburg. Assign to `cities`.
* Use `[]` subsetting to filter `temperatures` for rows where the city column takes a value in `cities`.
* Use `.loc[]` subsetting to filter temperatures_ind for rows where the city is in `cities`.

In [165]:
# Make a list of cities to subset on
cities = ["Yerky", "Caconda"]

# Subset temperatures using square brackets
print(temperatures[temperatures["city"].isin(cities)])
print('-----------------------------------------')
# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[cities])

      city country  Temperature  Wind               date
0    Yerky      UA        -1.86  3.47   February 5, 2010
1  Caconda      AO        26.15  1.22  February 12, 2010
-----------------------------------------
        country  Temperature  Wind               date
city
Yerky        UA        -1.86  3.47   February 5, 2010
Caconda      AO        26.15  1.22  February 12, 2010

# Setting multi-level indexes and subsetting based on pair of index

## Setting multi-level indexes

Indexes can also be made out of multiple columns, forming a *multi-level index* (sometimes called a *hierarchical index*). There is a trade-off to using these.

The benefit is that multi-level indexes make it more natural to reason about nested categorical variables. For example, in a clinical trial you might have control and treatment groups. Then each test subject belongs to one or other group, and we can say that test subject is nested inside treatment group. Similarly, in the temperature dataset, the city is located in the country, so we can say city is nested inside country.

The main downside is that the code for manipulating indexes is different to the code for the manipulating columns, so you have to learn two syntaxes, and keep track of how your data is represented.

`pandas` is loaded as `pd`. `temperatures` is available.

<hr>

**Instructions**

* Set the index of `temperatures` to the `"country"` and `"city"` columns, assigning to `temperatures_ind`.
* Specify two country/city pairs to keep: `"Brazil"`/`"Rio De Janeiro"` and `"Pakistan"`/`"Lahore"`, assigning to `rows_to_keep`.
* Subset for `rows_to_keep` using `.loc[]`.

In [166]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country", "city"])
print(temperatures_ind.head(5))
print('--------------------------')
# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [("UA", "Yerky"), ("AO", "Caconda")]

# Subset for rows to keep
print(temperatures_ind.loc[rows_to_keep])

                    Temperature  Wind               date
country city
UA      Yerky             -1.86  3.47   February 5, 2010
AO      Caconda           26.15  1.22  February 12, 2010
BR      Diamantino        29.40  2.12  February 19, 2010
PE      Huarmey           21.60  1.62  February 26, 2010
SA      Abha              14.03  0.22      March 5, 2010
--------------------------
                 Temperature  Wind               date
country city
UA      Yerky          -1.86  3.47   February 5, 2010
AO      Caconda        26.15  1.22  February 12, 2010

# Sorting by index values

## Sorting by index values

Previously, you changed the order of the rows in a DataFrame by calling `.sort_values()`. It's also useful to be able to sort by elements in the index. For this, you need to use `.sort_index()`.

`pandas` is loaded as `pd`. `temperatures_ind` has a multi-level index of country and `city`, and is available.

<hr>

**Instructions**

* Sort `temperatures_ind` by the index values.
* Sort `temperatures_ind` by the index values at the `"city"` level.
* Sort `temperatures_ind` by ascending country then descending city.

# Sort by outerlevel index

In [167]:
# Sort temperatures_ind by index values
#print(temperatures_ind.sort_index())
print(temperatures_ind.sort_index().head())  # Sorting based on index (Hear based on country )

                      Temperature  Wind               date
country city
AE      Abu Dhabi           20.48  6.20  February 25, 2011
AF      Rudbar              12.52  4.22    August 31, 2012
        Uruzgan             -5.86  0.97  February 10, 2012
AI      The Valley          26.53  4.60   January 18, 2013
AL      Bajram Curri        -6.13  0.77      July 22, 2011

# Sorting by inner level index

In [168]:
# Sort temperatures_ind by index values at the city level # Sorting based on inner level
#print(temperatures_ind.sort_index(level="city"))
print(temperatures_ind.sort_index(level="city").head(5))

                   Temperature  Wind               date
country city
NE      Abalak           22.27  1.32       May 11, 2012
PE      Abancay           3.00  6.20   January 25, 2013
SA      Abha             14.03  0.22      March 5, 2010
IR      Abhar           -10.78  1.62    October 8, 2010
AE      Abu Dhabi        20.48  6.20  February 25, 2011

# Sorting by combined level outer ascending order, Inner - descending

In [169]:
# Sort temperatures_ind by country then descending city
#print(temperatures_ind.sort_index(level=["country", "city"], ascending=[True, False]))
print(temperatures_ind.sort_index(level=["country", "city"], ascending=[True, False]).head(10))

                      Temperature  Wind                date
country city
NaN     Oranjemund          17.82  3.87  September 16, 2011
        Opuwo               27.87  4.22      August 6, 2010
        Mariental           26.65  2.52       March 8, 2013
        Luderitz            17.00  5.82   December 30, 2011
        Henties Bay         18.57  5.27       July 19, 2013
        Grootfontein        29.00  1.50       June 11, 2010
AE      Abu Dhabi           20.48  6.20   February 25, 2011
AF      Uruzgan             -5.86  0.97   February 10, 2012
        Rudbar              12.52  4.22     August 31, 2012
AI      The Valley          26.53  4.60    January 18, 2013

# Slicing lists

In [170]:
breeds = ["Labrador", "Poodle",
"Chow Chow", "Schnauzer",
"Labrador", "Chihuahua",
"St. Bernard"]

In [171]:
breeds[2:5]

['Chow Chow', 'Schnauzer', 'Labrador']

In [172]:
breeds[:3]

['Labrador', 'Poodle', 'Chow Chow']

In [173]:
breeds[:]

['Labrador',
 'Poodle',
 'Chow Chow',
 'Schnauzer',
 'Labrador',
 'Chihuahua',
 'St. Bernard']

# Slicing the dataframe

# Slicing the multi index  - Based on outer and inner Row index using .loc

## Slicing index values

Slicing lets you select consecutive elements of an object using `first:last` syntax. DataFrames can be sliced by index values, or by row/column number; we'll start with the first case. This involves slicing inside the `.loc[]` method.

Compared to slicing lists, there are a few things to remember.

* You can only slice an index if the index is sorted (using `.sort_index()`).
* To slice at the outer level, `first` and `last` can be strings.
* To slice at inner levels, `first` and `last` should be tuples.
* If you pass a single slice to `.loc[]`, it will slice the rows.

`pandas` is loaded as `pd`. `temperatures_ind` has country and city in the index, and is available.

<hr>

**Instructions**
* Sort the index of `temperatures_ind`.
* Use slicing with `.loc[]` to get these subsets:
    * from Pakistan to Russia.
    * from Lahore to Moscow. (*This will return nonsense.*)
    * from Pakistan, Lahore to Russia, Moscow.

In [174]:
# Index temperatures by country & city
temperatures_ind = temperatures.set_index(["country", "city"])

In [175]:
# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

In [176]:
#https://pandas.pydata.org/pandas-docs/version/0.19.1/advanced.html
temperatures_srt = temperatures.set_index(["country", "city"]).sort_index(ascending = True) # Here the dataframe has multi index example country & city
# & Sorted in acending order
#print(temperatures_srt)
print(temperatures_srt.head(10))
print('------------------------------')
# Subset rows from Pakistan to Russia  # Here we are using outer layer for subset
#print(temperatures_srt.loc["Pakistan":"Russia"])
print(temperatures_srt.loc["AE"])
print('------------------------------')
print(temperatures_srt.loc["AF"])
print('------------------------------')
#print(temperatures_srt.loc["AL":"AO"])
# Try to subset rows from Lahore to Moscow
#print(temperatures_srt.loc["Lahore":"Moscow"])
print('------------------------------')
#print(temperatures_srt.loc["Rudbar":"Luanda"])

# Subset rows from Pakistan, Lahore to Russia, Moscow
#print(temperatures_srt.loc[("Pakistan","Lahore"):("Russia","Moscow")])
#print(temperatures_srt.loc[("AF","Rudbar"):("AL","Roskovec")])

                      Temperature  Wind               date
country city
AE      Abu Dhabi           20.48  6.20  February 25, 2011
AF      Rudbar              12.52  4.22    August 31, 2012
        Uruzgan             -5.86  0.97  February 10, 2012
AI      The Valley          26.53  4.60   January 18, 2013
AL      Bajram Curri        -6.13  0.77      July 22, 2011
        Roskovec             3.72  2.42   October 15, 2010
AM      Amasia             -11.00  0.50     March 15, 2013
AO      Benguela            25.92  2.82    October 5, 2012
        Caconda             26.15  1.22  February 12, 2010
        Luanda              27.00  4.10     April 26, 2013
------------------------------
           Temperature  Wind               date
city
Abu Dhabi        20.48   6.2  February 25, 2011
------------------------------
         Temperature  Wind               date
city
Rudbar         12.52  4.22    August 31, 2012
Uruzgan        -5.86  0.97  February 10, 2012
------------------------------
------------------------------

# Slicing in both directions

## Slicing in both directions

You've seen slicing DataFrames by rows and by columns, but since DataFrames are two dimensional objects it is often natural to slice both dimensions at once. That is, by passing two arguments to `.loc[]`, you can subset by rows and columns in one go.

`pandas` is loaded as `pd`. `temperatures_srt` is indexed by country and city, has a sorted index, and is available.

<hr>

**Instructions**
* Use `.loc[]` slicing to subset rows from India, Hyderabad to Iraq, Baghdad.
* Use `.loc[]` slicing to subset columns from `date` to `avg_temp_c`.
* Slice in both directions at once from Hyderabad to Baghdad, and `date` to `avg_temp_c`.

In [177]:
# # Subset rows from India, Hyderabad to Iraq, Baghdad  # Multi row combination
# print(temperatures_srt.loc[("India", "Hyderabad"):("Iraq","Baghdad")])

# # Subset columns from date to avg_temp_c
# print(temperatures_srt.loc[:, "date":"avg_temp_c"])

# # Subset in both directions at once  # Here first set row range ,Date and avf time is column range
# print(temperatures_srt.loc[("India", "Hyderabad"):("Iraq","Baghdad"), "date":"avg_temp_c"])

# Slicing time series

## Slicing time series

Slicing is particularly useful for time series, since it's a common thing to want to filter for data within a date range. Add the `date` column to the index, then use `.loc[]` to perform the subsetting. The important thing to remember is to keep your dates in ISO 8601 format, that is, `yyyy-mm-dd`.

Recall from Chapter 1 that you can combine multiple Boolean conditions using logical operators (such as `&`). To do so in one line of code you'll need to add parentheses `()` around each condition.

`pandas` is loaded as `pd` and `temperatures`, with no index, is available.

<hr>

**Instructions**

* Use Boolean conditions (`not .isin() or .loc[]`) to subset for rows in 2010 and 2011, and print the results.
    * *Note that because the date isn't set as an index, a condition that contains only a year, such as `df['date'] == '2009'`, will check if the date is equal to the first day of the first month of the year (e.g. `2009-01-01`), rather than checking whether the date occurs within the given year. We recommend writing out the full date when using Boolean conditions (e.g. `2009-12-31`)*.
* Set the index to the `date` column.
* Use `.loc[]` to subset for rows in 2010 and 2011.
* Use `.loc[]` to subset for rows from Aug 2010 to Feb 2011.

In [186]:
# # Use Boolean conditions to subset temperatures for rows in 2010 and 2011
#temperatures_bool = temperatures[(temperatures['date'] >= '2010') & (temperatures['date'] <= '2012-03-30')]
temperatures_bool = temperatures[(temperatures['date'] >= '2010')] 
#print(temperatures_bool)

# # Set date as an index
temperatures_ind = temperatures.set_index('date')
temperatures_ind = temperatures.set_index('date').sort_index()
#print(temperatures_ind )
# # Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
#print(temperatures_ind.loc['2011':'2013'])

# # Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
#print(temperatures_ind.loc["2010-08":"2011-02"])

Empty DataFrame
Columns: [city, country, Temperature, Wind]
Index: []

# Subsetting by row/column number

## Subsetting by row/column number

The most common ways to subset rows are the ways we've previously discussed: using a Boolean condition, or by index labels. However, it is also occasionally useful to pass row numbers.

This is done using `.iloc[]`, and like `.loc[]`, it can take two arguments to let you subset by rows and columns.

`pandas` is loaded as `pd`. `temperatures` (without an index) is available.

<hr>

**Instructions**

Use `.iloc[]` on `temperatures` to take subsets.
* Get the 23rd row, 2nd column (index positions 22 and 1).
* Get the first 5 rows (index positions 0 to 5).
* Get all rows, columns 3 and 4 (index positions 2 to 4).
* Get the first 5 rows, columns 3 and 4.

In [ ]:
# Get 23rd row, 2nd column (index 22, 1)
print(temperatures.iloc[22,1])

# Use slicing to get the first 5 rows
print(temperatures.iloc[:5])

# Use slicing to get columns 3 to 4
print(temperatures.iloc[:, 2:4])

# Use slicing in both directions at once
print(temperatures.iloc[:5, 2:4])

# Pivot temperature by city and year

## Pivot temperature by city and year

It's interesting to see how temperatures for each city change over time. Looking at every month results in a big table, which can be tricky to reason about. Instead, let's look at how temperatures change by year.

You can access the components of a date (year, month and day) using code of the form `dataframe["column"].dt.component`. For example, the month component is `dataframe["column"].dt.month`, and the year component is `dataframe["column"].dt.year`.

Once you have the year column, you can create a pivot table with the data aggregated by city and year, which you'll explore in the coming exercises.

`pandas` is loaded as `pd`. `temperatures` is available.
**Instructions**

* Add a `year` column to `temperatures`, from the `year` component of the `date` column.
* Make a pivot table of the `avg_temp_c` column, with `country` and `city` as rows, and year as columns. Assign to `temp_by_country_city_vs_year`, and *look at the result*.

In [188]:
# # Add a year column to temperatures
#temperatures["year"] = temperatures["date"].dt.year

# # Pivot avg_temp_c by country and city vs year
# temp_by_country_city_vs_year = temperatures.pivot_table("avg_temp_c", index=["country", "city"], columns="year")

# # See the result
# print(temp_by_country_city_vs_year)

# Subsetting pivot tables

## Subsetting pivot tables

A pivot table is just a DataFrame with sorted indexes, so the techniques you have learned already can be used to subset them. In particular, the `.loc[]` + slicing combination is often helpful.

`pandas` is loaded as `pd`. `temp_by_country_city_vs_year` is available.

<hr>

**Instructions**

Use `.loc[]` on `temp_by_country_city_vs_year` to take subsets.
* From Egypt to India.
* From Egypt, Cairo to India, Delhi.
* From Egypt, Cairo to India, Delhi and 2005 to 2010.

In [179]:
# # Subset for Egypt to India
# print(temp_by_country_city_vs_year.loc["Egypt":"India"])

# # Subset for Egypt, Cairo to India, Delhi
# print(temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi")])

# # Subset in both directions at once
# print(temp_by_country_city_vs_year.loc[("Egypt","Cairo"):("India","Delhi"), "2005":"2010"])

# Calculating on a pivot table

Pivot tables are filled with summary statistics, but they are only a first step to finding something insightful. Often you'll need to perform further calculations on them. A common thing to do is to find the rows or columns where a highest or lowest value occurs.

Recall from Chapter 1 that you can easily subset a Series or DataFrame to find rows of interest using a logical condition inside of square brackets. For example: `series[series > value]`.

`pandas` is loaded as `pd` and the DataFrame `temp_by_country_city_vs_year` is available.

<hr>

**Instructions**
* Calculate the mean temperature for each year, assigning to `mean_temp_by_year`.
* Filter `mean_temp_by_year` for the year that had the highest mean temperature.
* Calculate the mean temperature for each city (across columns), assigning to `mean_temp_by_city`.
* Filter `mean_temp_by_city` for the city that had the lowest mean temperature.

In [180]:
# # Get the worldwide mean temp by year
# mean_temp_by_year = temp_by_country_city_vs_year.mean()

# # Filter for the year that had the highest mean temp
# print(mean_temp_by_year[mean_temp_by_year == mean_temp_by_year.max()])

# # Get the mean temp by city
# mean_temp_by_city = temp_by_country_city_vs_year.mean(axis="columns")

# # Filter for the city that had the lowest mean temp
# print(mean_temp_by_city[mean_temp_by_city == mean_temp_by_city.min()])